* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Rubik", sans-serif;
  background: #e6f2f2;
  line-height: 1.18;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.section {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .section {
    padding: 12px 0;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.18;
  color: #29353e;
}
@media (max-width: 1280px) {
  .title {
    font-size: calc(22px + 33 * ((100vw - 320px) / 960));
  }
}

.telegeam {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #00b61d;
  line-height: 1.18;
}
@media (max-width: 768px) {
  .telegeam {
    height: 90px;
  }
}
.telegeam__link {
  display: flex;
  background: #25a4e3;
  padding: 5px 14px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  color: #fafafa;
  border-radius: 20px 0px;
}
@media (max-width: 1280px) {
  .telegeam__link {
    font-size: calc(18px + 27 * ((100vw - 320px) / 960));
  }
}
.telegeam__link img {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .telegeam__link img {
    width: 28px;
  }
}

.grafiti-green {
  position: absolute;
  top: 60%;
  z-index: -1;
}

.grafiti-green2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.grafiti-green3 {
  position: absolute;
  top: 70%;
  z-index: -1;
}

.grafiti-yellow {
  position: absolute;
  top: 8%;
  right: 0;
  z-index: -1;
}

.grafiti-yellow3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.grafiti-pink {
  position: absolute;
  top: 20%;
  right: 0;
  z-index: -1;
}

.grafiti-pink2 {
  position: absolute;
  top: 50%;
  transform: rotate(180deg);
  z-index: -1;
}

.grafiti-pink3 {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: -1;
}

.grafiti-orange {
  position: absolute;
  top: 30%;
  z-index: -1;
}

.scroll {
  display: none;
}

@media (max-width: 768px) {
  .scroll {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .scroll__icon {
    position: relative;
    right: 0;
    animation: arrow-right 0.4s linear infinite alternate;
  }
  .scroll__icon.rotate {
    transform: rotate(180deg);
    position: relative;
    left: 0;
    animation: arrow 0.4s linear infinite alternate;
  }
  @keyframes arrow-right {
    0% {
      left: 0;
    }
    100% {
      left: 20px;
    }
  }
  @keyframes arrow {
    0% {
      left: 0;
    }
    100% {
      left: 20px;
    }
  }
}
.header__body {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__burger {
  display: none;
}
.header__menu {
  position: relative;
  z-index: 10;
  display: flex;
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__link {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  transition: all 0.3s ease;
}
.header__link:hover {
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1500px) {
  .header__link {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header__link {
    font-size: 20px;
  }
}
.header__phone {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  fill: #fff;
  position: relative;
  z-index: 15;
}
.header__phone:hover {
  color: rgba(255, 255, 255, 0.8);
  fill: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .header__phone {
    order: 1;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__body {
    height: 80px;
  }
  .header__burger {
    order: 2;
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.5s ease;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.actived span {
    transform: scale(0);
  }
  .header__burger.actived::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.actived::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 80px;
    left: 0;
    width: 100%;
    transform: scale(0);
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    transition: all 0.5s ease;
  }
  .header__menu.actived {
    transform: scale(1);
  }
  .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
}
.icon-phone {
  width: 14px;
  height: 14px;
}

.banner {
  height: 406px;
  margin-top: -80px;
  background: url(../images/fon3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .banner {
    height: 251px;
  }
}
.banner__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.18;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1280px) {
  .banner__title {
    font-size: calc(20px + 35 * ((100vw - 320px) / 960));
  }
}
@media (max-width: 768px) {
  .banner__title {
    text-align: center;
  }
}
.banner__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1280px) {
  .banner__subtitle {
    font-size: calc(18px + 14 * ((100vw - 320px) / 960));
  }
}

.changes {
  position: relative;
}
.changes__inner {
  max-width: 1143px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .changes__inner {
    display: block;
  }
}
.changes__content {
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.changes__image {
  display: flex;
  justify-content: center;
}
.changes__image img {
  border-radius: 50px 0px 0px 0px;
}
@media (max-width: 768px) {
  .changes__image img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.changes__cards-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 32px;
}
@media (max-width: 1280px) {
  .changes__cards-title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 960));
  }
}
.changes__cards-title img {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .changes__cards-title {
    margin-top: 15px;
  }
}
.changes__cards-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
}
@media (max-width: 1280px) {
  .changes__cards-data {
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}
.changes__cards-data img {
  margin-right: 5px;
}
.changes__text {
  line-height: 1.2;
  font-size: 20px;
  text-align: center;
  color: #29353e;
}
@media (max-width: 1280px) {
  .changes__text {
    font-size: calc(15px + 5 * ((100vw - 320px) / 960));
  }
}
.changes__text span {
  color: #00B61D;
  font-weight: 500;
}
.changes__cards-text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .changes__cards-text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 960));
  }
}
.changes__cards-text span {
  text-decoration: underline;
  color: #00B61D;
}
.changes__cards-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  color: #FF9900;
}
@media (max-width: 1280px) {
  .changes__cards-price {
    font-size: calc(24px + 12 * ((100vw - 320px) / 960));
  }
}
.changes__cards-price img {
  margin-right: 5px;
}
.changes__cards-oldprice {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  color: #9C9C9C;
  text-decoration: line-through;
}
@media (max-width: 1280px) {
  .changes__cards-oldprice {
    font-size: calc(20px + 4 * ((100vw - 320px) / 960));
  }
}
.changes__link-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .changes__link-list {
    padding-bottom: 20px;
    flex-direction: column;
  }
}
.changes__cards-btn {
  display: block;
  padding: 18px 28px;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #00b61d;
  border-radius: 15px 0px;
  transition: all 0.3s ease;
}
@media (max-width: 1280px) {
  .changes__cards-btn {
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}
.changes__cards-btn:hover {
  background: #FF9900;
}
.changes__cards-info {
  display: flex;
  justify-content: center;
  padding: 18px 28px;
  align-items: center;
  font-weight: 700;
  border: 3px solid #00B61D;
  border-radius: 15px 0px;
  font-size: 20px;
  color: #00B61D;
}
@media (max-width: 1280px) {
  .changes__cards-info {
    font-size: calc(18px + 2 * ((100vw - 320px) / 960));
  }
}
.changes__cards-info img {
  margin-left: 5px;
  width: 16px;
}
.changes__copy {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #FF5B5B;
}
@media (max-width: 1280px) {
  .changes__copy {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 960));
  }
}
@media (max-width: 1280px) {
  .changes__copy {
    font-size: calc(14px + 6 * ((100vw - 320px) / 960));
  }
}

.team {
  position: relative;
}
.team__list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}
@media (max-width: 768px) {
  .team__list {
    display: block;
  }
}
.team__cards {
  padding: 24px 7px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
  height: 335px;
}
@media (max-width: 768px) {
  .team__cards {
    margin-bottom: 15px;
  }
}
.team__image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.team__image img {
  max-width: 100%;
}
.team__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #29353e;
}
.team__text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #29353e;
}
.team__text span {
  font-weight: 500;
}
.team__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #29353e;
}

.contacks {
  margin-top: 50px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff9900;
  line-height: 1.18;
}
@media (max-width: 768px) {
  .contacks {
    height: 120px;
    flex-direction: column;
  }
}
.contacks__phone {
  display: block;
  font-weight: 700;
  font-size: 45px;
  color: #fafafa;
}
@media (max-width: 1280px) {
  .contacks__phone {
    font-size: calc(28px + 17 * ((100vw - 320px) / 960));
  }
}
.contacks__btn {
  display: block;
  padding: 5px 12px;
  font-weight: 700;
  font-size: 45px;
  background: #00b61d;
  border-radius: 20px 0px;
  color: #fafafa;
}
@media (max-width: 1280px) {
  .contacks__btn {
    font-size: calc(28px + 17 * ((100vw - 320px) / 960));
  }
}

.terms {
  padding: 20px 0;
  background: radial-gradient(50% 2317.79% at 100% 50%, #a8eae6 4.49%, rgba(182, 235, 232, 0.807985) 22.83%, rgba(242, 239, 239, 0) 100%), radial-gradient(71.1% 1780.59% at 11.59% 28.9%, #a8eae6 0%, rgba(242, 239, 239, 0) 100%);
}
.terms__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
@media (max-width: 1000px) {
  .terms__list {
    overflow-x: scroll;
  }
}
.terms__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.terms__image img {
  max-width: 100%;
}
.terms__text {
  margin-top: 6px;
  font-weight: 700;
  text-align: center;
  color: #29353e;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 1280px) {
  .terms__text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}
@media (max-width: 1280px) {
  .terms__text {
    line-height: calc(20px + 8 * ((100vw - 320px) / 960));
  }
}

.active {
  position: relative;
}
.active__list {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  max-width: 1050px;
  margin: 55px auto 0;
  gap: 30px;
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  .active__list {
    overflow-x: scroll;
    gap: 15px;
  }
}
.active__cards {
  padding: 15px 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.active__image {
  display: flex;
  justify-content: center;
}
.active__image img {
  max-width: 60px;
}
.active__text {
  padding: 7px;
  font-weight: 500;
  text-align: center;
  color: #29353e;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1280px) {
  .active__text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 960));
  }
}
@media (max-width: 1280px) {
  .active__text {
    line-height: calc(20px + 4 * ((100vw - 320px) / 960));
  }
}

.days {
  position: relative;
}

.days__list {
  margin: 55px auto 0;
  max-width: 915px;
  max-height: 550px;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .days__list {
    max-width: 377px;
    max-height: 420px;
  }
}

.days__cards {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.days__time {
  margin-left: auto;
  font-weight: 500;
  position: relative;
  color: #29353e;
  font-size: 40px;
}
@media (max-width: 1280px) {
  .days__time {
    font-size: calc(20px + 20 * ((100vw - 320px) / 960));
  }
}

.days__width {
  max-width: 100%;
}
@media (max-width: 926px) {
  .days__width {
    max-width: 100px;
  }
  .days__width span {
    display: none;
  }
}
@media (max-width: 768px) {
  .days__width {
    max-width: 75px;
  }
}
@media (max-width: 400px) {
  .days__width {
    max-width: 55px;
  }
}

.days__line {
  position: relative;
  margin-left: 10px;
  width: 123px;
  height: 3px;
  background: #00b61d;
}
@media (max-width: 768px) {
  .days__line {
    width: 50px;
  }
}

.days__line::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00b61d;
}
@media (max-width: 768px) {
  .days__line::before {
    width: 12px;
    height: 12px;
    top: -5px;
  }
}

.days__icon {
  max-width: 25px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .days__icon {
    max-width: 25px;
    height: 25px;
  }
}

.days__positions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  position: relative;
  z-index: 2;
  width: 500px;
  background: #ff9700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
@media (max-width: 768px) {
  .days__positions {
    padding: 10px 10px;
    width: 270px;
  }
}

.days__text {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .days__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.parents__list {
  margin: 20px 0;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(4, 264px);
  gap: 20px;
}
@media (max-width: 1100px) {
  .parents__list {
    overflow-x: scroll;
    gap: 15px;
  }
}
.parents__cards {
  padding: 30px 12px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
}
.parents__image {
  display: flex;
  justify-content: center;
}
.parents__image img {
  max-width: 100%;
}
.parents__icon {
  margin: 10px auto;
  width: 100px;
  height: 20px;
  background: url(./../images/icons/good.png);
}
.parents__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #29353e;
}
.parents__text {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #29353e;
}
.parents__copy {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 18px;
  color: #8d8e8e;
}

.price__list {
  max-width: 900px;
  margin: 0 auto;
  padding: 45px;
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  gap: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
}
@media (max-width: 1280px) {
  .price__list {
    padding: calc(15px + 30 * ((100vw - 320px) / 960));
  }
}
@media (max-width: 768px) {
  .price__list {
    gap: 10px;
    margin-top: 25px;
  }
}
.price__list-item {
  display: flex;
  align-items: center;
}
.price__list-item img {
  width: 40px;
}
@media (max-width: 768px) {
  .price__list-item img {
    width: 25px;
  }
}
.price__list-text {
  margin-left: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #29353e;
}
@media (max-width: 1280px) {
  .price__list-text {
    font-size: calc(14px + 10 * ((100vw - 320px) / 960));
  }
}

.service__list {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
@media (max-width: 768px) {
  .service__list {
    display: block;
  }
}
.service__list-item {
  text-align: center;
}
.service__list-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 768px) {
  .service__list-img {
    width: 100px;
    height: 100px;
  }
  .service__list-img img {
    width: 60px;
  }
}
.service__list-text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #29353e;
}
@media (max-width: 1280px) {
  .service__list-text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}

.about__inner {
  max-width: 935px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .about__inner {
    display: block;
  }
}
.about__image {
  display: flex;
  justify-content: center;
}
.about__image img {
  border-radius: 50px 0px 0px 0px;
}
@media (max-width: 768px) {
  .about__image img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.about__content {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .about__content {
    margin-left: 20px;
    padding: 20px 0;
  }
}
.about__body {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.about__body:last-child {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .about__body {
    margin-bottom: 15px;
  }
  .about__body img {
    width: 35px;
  }
}
.about__text {
  margin-left: 15px;
  font-weight: 500;
  padding-right: 80px;
  font-size: 24px;
  line-height: 1.18;
  color: #29353e;
}
@media (max-width: 1280px) {
  .about__text {
    padding-right: calc(0px + 80 * ((100vw - 320px) / 960));
  }
}
@media (max-width: 1280px) {
  .about__text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}

.price-changes__table {
  margin: 55px 0 10px;
  width: 100%;
  font-weight: 500;
  color: #29353e;
  text-align: center;
  border-collapse: collapse;
}
@media (max-width: 768px) {
  .price-changes__table {
    margin: 25px 0 10px;
  }
}

.price-changes__title {
  font-size: 24px;
  padding: 5px;
  font-size: 24px;
}
@media (max-width: 1280px) {
  .price-changes__title {
    font-size: calc(10px + 14 * ((100vw - 320px) / 960));
  }
}

tr {
  border-bottom: 3px solid #9C9C9C;
}

.price-changes-text {
  padding: 5px;
  font-size: 32px;
  line-height: 1.18;
}
@media (max-width: 1280px) {
  .price-changes-text {
    font-size: calc(12px + 20 * ((100vw - 320px) / 960));
  }
}

.price-changes__color {
  color: #00B61D;
  text-decoration: underline;
}

.document__container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}
.document__list {
  margin-top: 50px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
}
@media (max-width: 768px) {
  .document__list {
    margin-top: 25px;
  }
}
.document__list-img {
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .document__list-img img {
    width: 80px;
  }
}
.document__list-item {
  margin-left: 25px;
  list-style-type: disc;
  font-weight: 500;
  font-size: 24px;
  color: #29353e;
}
@media (max-width: 1280px) {
  .document__list-item {
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
  transition: all 0.8s ease;
}
.popup__wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  display: flex;
  position: relative;
  max-width: 800px;
  background: #e6f2f2;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease;
  border-radius: 17px;
}
.popup__image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .popup__image {
    display: none;
  }
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  font-size: 20px;
  color: #000;
  transition: all 0.3s ease;
}
.popup__close:hover {
  color: red;
}
.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.anketa {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px 27px 30px;
}
.anketa__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  color: #29353e;
  text-align: center;
}
@media (max-width: 768px) {
  .anketa__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.anketa__list {
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #29353e;
}
.anketa__list li {
  margin-bottom: 20px;
}
.anketa__list li:last-child {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .anketa__list {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}
.anketa__input {
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #29353e;
  background: transparent;
  border-bottom: 2px solid #29353e;
}
@media (max-width: 768px) {
  .anketa__input {
    text-align: center;
  }
}
.anketa__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 18px 28px;
  background: #00b61d;
  border-radius: 15px 0px;
  font-size: 22px;
  color: #fff;
  transition: all 0.5s ease;
}
.anketa__btn:hover {
  background: #d34a42;
  color: #eaf2b2;
}
@media (max-width: 768px) {
  .anketa__btn {
    font-size: 16px;
    width: 250px;
    height: 52px;
  }
}

.anketa__input._error {
  box-shadow: 0 0 20px red;
}

.anketa::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url(../images/Dual.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}

.anketa._sending::after {
  opacity: 1;
  visibility: visible;
}

.anketa-section {
  position: relative;
}

.container.flex {
  display: flex;
  gap: 115px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .container.flex {
    gap: calc(20px + 95 * ((100vw - 320px) / 960));
  }
}

.footer {
  padding: 44px 0;
  background-image: url(../images/footer-fon.jpg);
  background-size: cover;
  background-position: center;
}
.footer__inner {
  align-items: center;
}
@media (min-width: 992px) {
  .footer__inner {
    display: flex;
  }
}
.footer__content {
  text-align: center;
}
@media (min-width: 768px) {
  .footer__content {
    flex: 0 0 50%;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.2;
  color: #FFFFFF;
}
@media (max-width: 1280px) {
  .footer__title {
    font-size: calc(32px + 23 * ((100vw - 320px) / 960));
  }
}
.footer__phone {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #FFFFFF;
}
@media (max-width: 1280px) {
  .footer__phone {
    font-size: calc(24px + 16 * ((100vw - 320px) / 960));
  }
}
.footer__telegram {
  padding: 11px 8px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #FAFAFA;
  background: #25A4E3;
  border-radius: 10px 0px;
}
@media (max-width: 1280px) {
  .footer__telegram {
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}
.footer__telegram img {
  margin-right: 5px;
  width: 30px;
}
.footer__image img {
  border-radius: 30px 0px;
}
@media (max-width: 992px) {
  .footer__image {
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer__image {
    display: none;
  }
}

.inner {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
  background: #FFFFFF;
}
@media (max-width: 992px) {
  .inner {
    flex-wrap: wrap;
  }
}

.swiper__image {
  max-width: 100%;
  border-radius: 50px 0px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper__image-gallery {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  .content__image .swiper__image {
    border-radius: 0px 0px 50px 0px;
  }
  .order {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}
@media (max-width: 992px) {
  .order {
    order: 2;
  }
  .order2 {
    order: 1;
  }
}
.swiper-button-next,
.swiper-button-prev {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
  color: #29353e;
}

.swiper-pagination-bullet-active {
  background-color: #29353e;
}

.content {
  margin-left: 20px;
  padding: 10px;
}
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .content {
    flex: 0 0 45%;
  }
}
.content__title {
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  color: #29353E;
}
@media (max-width: 1280px) {
  .content__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 960));
  }
}
.content__text {
  font-size: 18px;
  line-height: 1.2;
  color: #29353e;
}
@media (max-width: 1280px) {
  .content__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  }
}
.content__text p {
  margin-top: 15px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.gallery__card {
  cursor: pointer;
}
.gallery__card img {
  max-width: 100%;
}

.gallery__swiper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease;
}

.open {
  visibility: visible;
  opacity: 1;
}

.gallery__wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 10%;
  right: 10%;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  color: #29353e;
  font-size: 22px;
}
@media (max-width: 768px) {
  .gallery__close {
    top: 30%;
    right: 5%;
  }
}