.changes {
  position: relative;
  // .changes__cards

  &__inner {
    max-width: 1143px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px;
    background-color: #fff;

    @media (max-width: 768px) {
      display: block;
    }
  }

  // .changes__content

  &__content {
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }

  // .changes__cards-image

  &__image {
    display: flex;
    justify-content: center;

    img {
      border-radius: 50px 0px 0px 0px;

      @media (max-width: 768px) {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  // .changes__cards-title

  &__cards-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 10px;
    @include adaptiv-value("font-size", 32, 24);

    img {
      margin-right: 5px;
    }

    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

  // .changes__cards-data

  &__cards-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    @include adaptiv-value("font-size", 24, 18);

    img {
      margin-right: 5px;
    }
  }

  &__text {
    line-height: 1.2;
    @include adaptiv-value('font-size', 20, 15);
    text-align: center;
    color: $colorText;

    span {
      color: #00B61D;
      font-weight: 500;
    }
  }

  // .changes__cards-text

  &__cards-text {
    margin-top: 15px;
    font-weight: 500;
    @include adaptiv-value("font-size", 20, 18);

    span {
      text-decoration: underline;
      color: #00B61D;
    }
  }

  // .changes__cards-price

  &__cards-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    @include adaptiv-value("font-size", 36, 24);
    color: #FF9900;

    img {
      margin-right: 5px;
    }
  }

  // .changes__cards-oldprice

  &__cards-oldprice {
    margin-bottom: 10px;
    font-weight: 700;
    @include adaptiv-value("font-size", 24, 20);
    color: #9C9C9C;
    text-decoration: line-through;
  }

  &__link-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      padding-bottom: 20px;
      flex-direction: column;
    }
  }

  // .changes__cards-btn

  &__cards-btn {
    display: block;
    padding: 18px 28px;
    font-weight: 500;
    @include adaptiv-value("font-size", 24, 18);
    color: #ffffff;
    background: #00b61d;
    border-radius: 15px 0px;
    transition: all 0.3s ease;

    &:hover {
      background: #FF9900;
    }
  }

  &__cards-info {
    display: flex;
    justify-content: center;
    padding: 18px 28px;
    align-items: center;
    font-weight: 700;
    border: 3px solid #00B61D;
    border-radius: 15px 0px;
    @include adaptiv-value("font-size", 20, 18);
    color: #00B61D;

    img {
      margin-left: 5px;
      width: 16px;
    }
  }

  &__copy {
    @include adaptiv-value('margin-bottom', 30, 10);
    text-align: center;
    font-weight: 700;
    @include adaptiv-value('font-size', 20, 14);
    color: #FF5B5B;
  }
}