.inner {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px;
    background: #FFFFFF;

    @media (max-width: 992px) {
        // flex-direction: column;
        // display: block;
        flex-wrap: wrap;
    }
}

.swiper__image {
    max-width: 100%;
    border-radius: 50px 0px 0px 0px;
    object-fit: cover;
}

.swiper__image-gallery {
    max-width: 100%;
    object-fit: cover;
}


@media (min-width: 992px) {
    .content__image .swiper__image {
        border-radius: 0px 0px 50px 0px;
    }

    .order {
        order: 1;
    }

    .order2 {
        order: 2;
    }
}

@media (max-width: 992px) {
    .order {
        order: 2;
    }

    .order2 {
        order: 1;
    }
}


.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px;
    color: $colorText;
}

.swiper-pagination-bullet-active {
    background-color: $colorText;
}


.content {

    margin-left: 20px;
    padding: 10px;

    @media (max-width: 768px) {
        margin-left: 0;
    }

    @media (min-width: 992px) {
        flex: 0 0 45%;
    }

    // .content__title

    &__title {
        font-weight: 500;
        text-align: center;
        @include adaptiv-value('font-size', 32, 24);
        line-height: 1.2;
        color: #29353E;
    }

    // .content__text

    &__text {
        @include adaptiv-value('font-size', 18, 14);
        line-height: 1.2;

        color: $colorText;

        p {
            margin-top: 15px;
        }
    }
}

.gallery {

    // .gallery__list

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .gallery__card

    &__card {
        cursor: pointer;

        img {
            max-width: 100%;
        }
    }
}

.gallery__swiper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    // z-index: 20;
    transition: all 0.8s ease;
}

.open {
    visibility: visible;
    opacity: 1;
}

.gallery__wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    color: $colorText;
    font-size: 22px;
    cursor: pointer;

    @media (max-width: 768px) {
        top: 5px;
        right: 5px;
    }

}