.team {
  // .team__list
  padding-bottom: 55px;
  &__list {
    margin: 55px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    @media (max-width: 768px) {
      display: block;
    }
  }

  // .team__cards

  &__cards {
    padding: 24px 7px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px;
    height: 335px;
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  // .team__image

  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    img {
      max-width: 100%;
    }
  }

  // .team__subtitle

  &__subtitle {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #29353e;
  }

  // .team__text

  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #29353e;
    span {
      font-weight: 500;
    }
  }

  // .team__info

  &__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #29353e;
  }
}

.contacks {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff9900;
  line-height: 1.18;
  @media (max-width: 768px) {
    height: 120px;
    flex-direction: column;
  }
  // .contacks__phone

  &__phone {
    display: block;
    font-weight: 700;
    @include adaptiv-value("font-size", 45, 28);
    color: #fafafa;
  }

  // .contacks__btn

  &__btn {
    display: block;
    padding: 5px 12px;
    font-weight: 700;
    @include adaptiv-value("font-size", 45, 28);
    background: #00b61d;
    border-radius: 20px 0px;
    color: #fafafa;
  }
}
